footer{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: right; 
    box-sizing: border-box;
    background-color: #f442d9;
    color: white;
}

footer img{
    background-color: white;
    border-radius: 100%;
    padding: 2px;
    left: 10px;
    position: absolute;
    width: 20px;
    transition: 1s;
}

footer img.slide{
    left: 80%;
}